body{
    font: 'Raleway',sans-serif;
    color: rgba(0,0,0,0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    top:15%;
    background: linear-gradient(to right,red,green);
    background-position: center;
    height: 650px;
    
}
h1{
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .4em;
    widows: 100%;
}
h3{
    font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,0.5);
    text-align: center;
    text-transform: lowercase;
    letter-spacing: .01em;
}
input{
    padding: 0px;
    border: none;
    box-shadow: 1px 1px 5px #333;
}
#dir{
    letter-spacing: .01em;
    padding: 5px;
    font-weight: 700;
    font-family: fantasy;
}
option{
    padding: 5px;
}